<section class='shop-body'>
<div class='shop-header'>
    <div class='shop-logo'>
        <img src='../../img/acoustic/Acoustic_RGB.jpg'/>
    </div>  
    <div class='shop-title'>  
        
    </div>

</div>
<div class='products'>
    <div class='product-carousel' ng-repeat="product in products">
        <guitar></guitar>
    </div>
</div>
<div class='shop-desc'>
    <h2>Introducing the New Gibson Acoustic 2017 Lineup</h2>
    Positioned in the heart of the Rocky Mountains in Bozeman, Montana, you’ll find our master luthiers continuing the rich tradition of Gibson Acoustic. Gibson Acoustic is proud to introduce new the 2017 product line.  New offerings include guitars for the discerning vintage player and collector, as well as the modern player looking for a superior performing acoustic guitar for any playing style.
    <br>&nbsp;<br>
    The new 2017 Gibson Acoustic High Performance guitars have one goal: to unleash the ultimate guitar player inside you. HP guitars were designed from the ground up to streamline the playing experience in a way that’s never been done before, while remaining true to the superior tone and hallowed tradition at the core of every Gibson Acoustic guitar.
	<br>&nbsp;<br>
	Gibson’s long list of storied acoustic instruments is intertwined with some of the greatest movements in music history and sought-after by countless artists and musical performers. The world’s most famous acoustic models include the Gibson J-45, SJ-200, and Hummingbird and they are still the magic instruments that deliver an indescribable musical experience to countless players around the world.
</div>
<div class='model-year-banner'>
    <img src='../..\img\acoustic\Acoustic2017_LandingBanner.jpg'
</div>
</section>