
<div class='product-container'>
    <div class='item-content'>
        <a href=''>
            <div class='thumb'>
                <img ng-src='./img/{{store}}/{{imgurl}}'>
            </div>
            <div class='name'>
                {{name}}
            </div>
            <div class='qualities'>
                {{qualities[0]}}
                <br>
                {{qualities[1]}}
                <br>
                {{qualities[2]}}
            </div>
            <div class='price'>
                {{price}}
            </div>
        </a>
    </div>
</div>