<div class="top-banner">
    <div>
        <img src="./img/front-page/Header-Gibson-Logo.png"/>
    </div>
    <div class="language-box">
        <div>
            <img src="./img/front-page/languageSelector-Globe.jpg"/>
            <select name="language">
                <option>English</option>
            </select>
        </div>
        <span>USA: 1-800-4GIBSON</span>
        <span>Europe: 00+8004GIBSON1</span>
    </div>
</div>

<div class="menu-wrapper">
            
            <div class="nav-menu">
                <nav class="site-nav">
                    <div class="hamburger">
                        <button type="button" class="navbar-toggle">
                            <span class="menu-icon-bar"></span>
                            <span class="menu-icon-bar"></span>
                            <span class="menu-icon-bar"></span>
                        </button>
                    </div>
                    <ul class="primary-nav">
                        <li>
                            <a ui-sref="home">
                                <img src=".\img\front-page\Nav-GibsonCom.png" />
                            </a>
                            <ul class="submenu">
                                <li>History</li>
                                <li>Gibson Guitartowns</li>
                                <li>Gibson Foundation</li>
                                <li>Talk 2 Us</li>
                                <li>Careers</li>
                                <li>Gibson Tours</li>
                            </ul>
                        </li>
                        <li>
                            <a ui-sref="products">PRODUCTS</a>
                            <ul class="submenu">
                                <li>Electric Guitars</li>
                                <li>Acoustic Instruments</li>
                                <li>Gear & Accessories</li>
                                <li>Pro Audio</li>
                            </ul>
                        </li>
                        <li><a ui-sref="store">STORE</a></li>
                        <li><a ui-sref="news">NEWS-LIFESTYLE</a></li>
                        <li><a ui-sref="community">COMMUNITY</a></li>
                        <li><a ui-sref="support">24/7 SUPPORT</a></li>
                    </ul>
                    <div class="search">
                        <input name="site-search" type="text" value="search"/>
                    </div>
                    <div class="mobile-search">
                        <input name="mobile-site-search" type="text" value="search"/>
                    </div>
                </nav>
            </div>
</div>