
<div class="main">
    <section class="shop-wrapper">
        <div class="main-banner">
            <a ui-sref="store">
                <img class="full" src="./img/front-page/2017-USA-banner.jpg">
                <img class="mobile" src="./img/front-page/2017-USA-banner-mobile.jpg">
            </a>
        </div>    
        <div class="shop-banner">
            <div class="shops">
                <div class="shop-division">
                    <a ui-sref="usa">
                        <img class="full" src="./img/front-page/frontPage_brandUSA.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandUSA.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="memphis">
                        <img class="full" src="./img/front-page/frontPage_brandMemphis.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandMemphis.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="custom">
                        <img class="full" src="./img/front-page/frontPage_brandCustom.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandCustom.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="acoustic">
                        <img class="full" src="./img/front-page/frontPage_brandAcoustic.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandAcoustic.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class='central-body'>
        <div class='left-column column'>
            <div class='social-links'>
                    <a href='http://www.twitter.com/GibsonGuitar'><img src='.\img\front-page\frontPage_connectTwitter.jpg'/></a>
                    <a href='http://www.facebook.com/Gibson'><img src='.\img\front-page\frontPage_connectFacebook.jpg'/></a>
                    <a href='http://www.instagram.com/gibsonguitar'><img src='.\img\front-page\frontPage_connectInstagram.jpg'/></a>
                    <a href='http://www.youtube.com/Gibson'><img src='.\img\front-page\frontPage_connectYoutube.jpg'/></a>
                    <a href='http://plus.google.com/+gibson/videos'><img src='.\img\front-page\frontPage_connectGplus.jpg'/></a>
                    <a href='http://forum.gibson.com'><img src='.\img\front-page\frontPage_connectForum.jpg'/></a>
                    <a href='http://www.gibson.com/Community/RSS-Feeds.aspx'><img src='.\img\front-page\frontPage_connectRSS.jpg'/></a>
                </div>
                <div class='social-feed facebook'>
                   <iframe name="fc5424feb771" width="287px" height="625px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="https://www.facebook.com/plugins/like_box.php?app_id=324431797646769&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F1FegrZjPbq3.js%3Fversion%3D42%23cb%3Df509a3ba56783c%26domain%3Dwww.gibson.com%26origin%3Dhttp%253A%252F%252Fwww.gibson.com%252Ff9d300de35aa1%26relation%3Dparent.parent&amp;container_width=300&amp;header=false&amp;height=625&amp;href=http%3A%2F%2Fwww.facebook.com%2FGibson&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;stream=true&amp;width=287" style="border: none; visibility: visible; width: 287px; height: 625px;" class=""></iframe> 
                   <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGibson&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                --></div>
        </div>
        
        <div class='right-column column'>
            <div class='dealer'>
                <div class='division-title'>
                    Dealer Locator
                </div>
            </div>
            <div class='social'>
                <div class='main-header'>
                    Connect
                </div>
                
                <div class='social-feed twitter'>
                    <a class="twitter-timeline" href="https://twitter.com/gibsonguitar">Tweets by @gibsonguitar</a>
                </div>
            </div>
        </div>
        
    </section>