
<div class="main">
    <section class="shop-wrapper">
        <div class="main-banner">
            <a ui-sref="usa">
                <img class="full" src="./img/front-page/2017-USA-banner.jpg">
                <img class="mobile" src="./img/front-page/2017-USA-banner-mobile.jpg">
            </a>
        </div>    
        <div class="shop-banner">
            <div class="shops">
                <div class="shop-division">
                    <a ui-sref="usa">
                        <img class="full" src="./img/front-page/frontPage_brandUSA.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandUSA.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="memphis">
                        <img class="full" src="./img/front-page/frontPage_brandMemphis.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandMemphis.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="custom">
                        <img class="full" src="./img/front-page/frontPage_brandCustom.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandCustom.jpg">
                    </a>
                </div>
                <div class="shop-division">
                    <a ui-sref="acoustic">
                        <img class="full" src="./img/front-page/frontPage_brandAcoustic.jpg">
                        <img class="mobile" src="./img/front-page/frontPage_mobile_brandAcoustic.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class='central-body'>
        <div class='left-column column'>
            <div class='social-title'>
                    <span class="section-name">Connect</span>
            </div>
            <div class='social-links'>
                    <a href='http://www.twitter.com/GibsonGuitar'><img src='.\img\front-page\frontPage_connectTwitter.jpg'/></a>
                    <a href='http://www.facebook.com/Gibson'><img src='.\img\front-page\frontPage_connectFacebook.jpg'/></a>
                    <a href='http://www.instagram.com/gibsonguitar'><img src='.\img\front-page\frontPage_connectInstagram.jpg'/></a>
                    <a href='http://www.youtube.com/Gibson'><img src='.\img\front-page\frontPage_connectYoutube.jpg'/></a>
                    <a href='http://plus.google.com/+gibson/videos'><img src='.\img\front-page\frontPage_connectGplus.jpg'/></a>
                    <a href='http://forum.gibson.com'><img src='.\img\front-page\frontPage_connectForum.jpg'/></a>
                    <a href='http://www.gibson.com/Community/RSS-Feeds.aspx'><img src='.\img\front-page\frontPage_connectRSS.jpg'/></a>
            </div>
            <div class='ads'>
                <img src='./img/front-page/GibsonHero_Memphis2017-640x340-feb.jpg'/>
            </div>
        </div>
        
        <div class='right-column column'>           
            <div class='ads'>
                <img src="./img/front-page/2017-sxsw-01.jpg"/>    
            </div>
            <div class='dealer'>
                <div class='division-title'>
                    <span class="section-name">Dealer Locator</span>
                </div>
                <a href='http://www.gibson.com/Support/Dealers.aspx'></a>
                <img src='./img/front-page/DealerBanner.jpg'/>
            </div>

        </div>
        
    </section>